
body{
    text-align: center;
}

h1 {
    color: darkgray;
    text-align: center;
}


#btn_addList{
    text-align: center;
    margin-top: 30px;
}

button {
    align-content: center;
    align-items: center;
    size: 50px;
}


